<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Properties>
        <Property name="filename">logs/test.log</Property> //specifies the location and the file where the log can be found
    </Properties>

    <Appenders> //specify which types of appender the app will have and their formatters

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="File" fileName="${filename}">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers> //specify which level each appender will have

        <Logger name="org.moita" level="trace">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="trace">
            <AppenderRef ref="File"/>
        </Root>

    </Loggers>

</Configuration>